.mainWrapper {
  font-family: Raleway;
}

.headerWrapper {
  font-size: 5em;
  font-weight: bold;
  padding: 10px;
}

.headerWrapper h2 {
  font-style: italic;
}

.timerWrapper {
  color: red;
  padding: 10px;
}

.answerWrapper {
  font-size: 10em;
}
